{% load static  %}

<li>
    <article class="post">
        <a href="{% url "post-detail" "post-mountain" %}">
            <img src="{% static "blog/images/66.jpg" %}" alt="Mountain Hiking">
            <div class="post__content">
                <h2> Post titkle </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quaerat inventore quisquam sapiente deserunt et odit, labore at debitis dignissimos adipisci incidunt deleniti minus aliquam ad fugiat aspernatur doloribus explicabo repudiandae error. In tempora optio quisquam sint, illum cumque nostrum ut, suscipit recusandae itaque voluptatum unde iure consequatur? Incidunt distinctio ipsa, possimus placeat perferendis ea?
                     </p>
            </div>
        </a>
    </arcticle>
</li>