{% extends "base.html" %}

{% load static %}

{% block title %} My All postrs {% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "blog/post_detail.css" %}" > 

{% endblock %}

{% block content %}

<section id="summary">
    <h1>{{post_d.title}}</h1>
    <article> 
     <img src="{{post_d.image_name}}" alt="{{post_d.title}}">
     <address> By Hash </address>
     <div> Updated on <time> {{post_d.date}}</time></div>

    </article>

</section>

<main>
<p>  {{post_d.exert}}
</p>
<p> {{post_d.content}}
</p>

  
</main>


{% endblock %}